<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ host }}</title>
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
    </body>
</html> 